.venv/
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
*.pyd

# Env
venv/
.env/

# System
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz

# Tests cache
tests/__pycache__/

filters/lightning_logs
filters/FilterData/*/datasets_data_*
filters/FilterData/*/datasets_data
filters/FilterData/*/optimize_data_*
filters/FilterData/*/study_results
filters/FilterData/*/modeling
filters/FilterData/*/measure
filters/FilterData/*/bundle

filters/saved_models
lightning_logs
optimized_models
saved_models
*.pkl