numpy~=2.2.5
pytest~=8.3.5
matplotlib~=3.10.1
scikit-rf~=1.6.2
torch~=2.5.1+cu121
seaborn~=0.13.2
pandas~=2.2.3
xarray~=2025.3.1
lightning~=2.5.1.post0
h5py~=3.13.0
tqdm~=4.67.1
torchmetrics~=1.7.1
scipy~=1.15.2
scikit-learn~=1.6.1
optuna~=4.3.0